# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
torcomm

# test files
test/block/block
test/block/blocked.o
test/file/file
test/file/file.o
test/misc/pad
test/misc/padding.o
test/crypto/crypto
test/crypto/crypto.o
security/get_keys
security/keys

# blocked ips
blocked
