# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
*.aux
*.toc
torcomm

# Documentation Log
TorComm.log

# test files
test/block/block
test/block/blocked.o
test/file/file
test/file/file.o
test/misc/pad
test/misc/padding.o
test/crypto/crypto
test/crypto/crypto.o
security/get_keys
security/keys
test/test
test/p2p/p2p
test/p2p/p2p.o

# results of tests
test/test.txt

# Add blocked ips
blocked

# build files for gui
ui/build

# blocked ips
blocked
