# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
*.aux
*.toc
torcomm

# Documentation Log
TorComm.log

# test files
test/block/block
test/block/blocked.o
test/file/file
test/file/file.o
test/misc/pad
test/misc/padding.o
test/crypto/crypto
test/crypto/crypto.o
security/get_keys
security/keys
test/test

# build files for gui
ui/CMakeCache.txt
ui/CMakeFiles
ui/cmake_install.cmake
ui/Makefile
ui/gui

# blocked ips
blocked
